/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "palette";


body
{	
	//background-color: $color3;
	color: $color1;
	font-family: Open-Light;
	text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    a{
		cursor: pointer;
	}
	header{
		display: flex;
		//background-color: $color1;
		clear: both;
		color: $color4;
		margin-bottom: 5px;
		padding: 4px;
		width: 100%;
		height: 100px;
		img{
			width: 100%;
			height: 100%;
			margin: auto;
			display: block;
			float: left;
			clear: left;
		}
	}
	div#main{
		height: 100%;
	    width: 100%;
	    overflow: hidden;
		//background: -webkit-linear-gradient(43deg, rgb(35, 100, 158), rgb(76, 150, 224));
		//background: linear-gradient(43deg, rgb(35, 100, 158), rgb(76, 150, 224));
		div#parameters{
			//background-color: $color1;
			border-bottom: 5px solid $color1;
			color: $color4;
			height: auto;
			padding: 0;
			padding-right: 8px;
			padding-left: 8px;
			padding-top: 5px;
			padding-bottom: 5px;
			overflow: hidden;
			white-space: nowrap;
			width: 100%;
    		height: 100%;
			//padding-bottom: 17px; /* Increase/decrease this value for cross-browser compatibility */
    		box-sizing: content-box; /* So the width will be 100% + 17px */
			span.input{
				text-align: center;
				//border-right: 5px solid $color4;
				//border-left: 5px solid $color4;
				border-bottom: 3px solid $color4;
				//border-top: 4px solid $color4;
				border-radius: 4px;
				display: inline-block;
				padding-right: 4px;
				margin-right: 12px;
				//color: $color1;
				color: $color4;
				background-color: $color1;
				//background-color: #1E8BC3;
				//background-color: #336E7B;
				padding: 4px;
				label{
					padding: 3px;
					padding-right: 8px;
					padding-left: 8px;
				}
				input{
					width: 0px;
					background-color: transparent;
					border: none;
					padding: 3.5px;
					padding-right: 1.5px;
					padding-left: 1.5px;
					color: $color4;
					text-align: center;
					visibility: hidden;
				}
				input:not(.jscolor){
					display: none;
				}
				input.jscolor{
					visibility: visible;
					width: 22px;
					border-radius: 75%;
					border: 2px solid $color4;
					cursor: pointer;
				}
				label.y{
					border-left: none;
				}
				label.value{
					display: none;
				}
				label:not(.fx){
					border-left: 2px solid $color4; 
				}
				label.selec:not(.fx){
					border-left: 0; 
				}
				label.xt, label.yt{
					border-left: 0;
				}
				label.yt{
					display: none;
				}
				a{
					color: $color4;
					padding: 3px;
					padding-right: 5px;
				}
				a.delete{
					margin-left: 3px;
					padding: 3px;
					padding-right: 4px;
					margin-right: 0px;
					//border-right: 4px solid $color4;
					padding-top: 5px;
				}
				a.dropdown{
					//border-right: 4px solid $color4;
				}
				a.edit{
					//border-right: 4px solid $color4;
				}
				a.save{
					//border-right: 4px solid $color4;
					display: none;
				}
				a.previous{
					display: none;
				}
				a.next{
					display: none;
				}
			}
			//span:hover{
			//	input{
			//		visibility: visible;
			//		width: 20px;
			//	}
			//}
			span.edit{
				
			}	
			input.selected.f, input.selected.x, input.selected.y, input.selected.value{
				visibility: visible;
				width: 70px;
				//border-bottom: 2px solid $color4;
			}
			input.selected.jscolor{
				width: 35px;
			}
			input#function{
				width: 200px;
			}
		}
	}
	div#fsettings{
		color: $color4;
		background-color: $color1;
		overflow: hidden;
		text-align: center;
		padding: 10px 0px;
		display: none;
		div.row{
			display: flex;
			padding: 6px 0px;
			margin-left: auto;
			margin-right: auto;
			width: 75%;
			label{
				display: block;
				margin-bottom: 20px;
			}
			span.thickness{
				cursor: pointer;
				margin-left: auto;
				margin-bottom: 4px;
				background-color: $color4;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
			}
			span.scontainer{
				margin-right: 6px;
				display: inline-block;
				width: 28px;
				height: 28px;
				border: 2px solid $color1;
				border-radius: 50%;
			}
			span.scontainer.selected{
				border: 2px solid $color4;
				border-radius: 50%;
			}
			span#thn{
				border: 12px solid #1E8BC3;
				width: 4px;
				height: 4px;
			}
			span#md{
				border: 11px solid #1E8BC3;
				width: 6px;
				height: 6px;
			}
			span#thk{
				border: 9px solid #1E8BC3;
				width: 10px;
				height: 10px;
			}
			div.column{
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				padding-top: 12px;
				padding-bottom: 8px;
				width: 20%;
				text-align: center;
				input{
					width: 50px;
					background-color: #1E8BC3;
					border: none;
					border-bottom: 2px solid $color4;
					color: $color4;
					text-align: center;
					padding: 6px;
					padding-right: 0;
				}
				input#divide{
					border-right: 2px solid $color4;
					margin-right: -2px;
				}
				button{
					cursor: pointer;
					border: none;
					border-bottom: 2px solid $color4;
					padding: 6px;
					padding-right: 8px;
					padding-left: 8px;
					margin: 2px;
					background-color: #1E8BC3;
					color: $color4;
				}
				div.container{
					display: inline-block;
					margin: auto;
					width: 90%;
					button{
						margin: auto;
					}
					button:not(:last-child){
						margin-right: 0px;
						margin-bottom: 4px;	
					}
				}
			}
		}
		div.row.two{
			div.column:nth-child(1){
				width: 50%;
			}
		}
	}
	nav#controlbar{
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 5px;
		text-align: left;
		background-repeat: no-repeat;
	    background-attachment: fixed;
		div#upperdiv{
			width: 100%;
			//background-color: $color1;
			//box-shadow: 0px 2px 1px 1px grey;
			nav#wrapper{
				display: flex;
				margin-left: auto;
				margin-right: auto;
				width: 90%;
			    nav{
			    	text-align: center;
			    	//background-color: $color1;
			    	display: inline-block;
			    	//padding: 10px;
			    	padding-bottom: 12.5px;
			    	padding-top: 12.5px;
			    	//color: $color4;
			    	color: $color1;
			    	i{
			    		//color: #ECF0F1;
			    		//color: $color4;
			    		color: $color1;
			    	}
			    	span{
			    		padding: 6px 8px;
			    		display: inline-block;
			    		//background-color: $color1;
			    		//border: 3px solid $color4;
			    		border-radius: 4px;
			    		margin-right: 5px;
			    		position:relative;
			    	}
			    	a{
						display: inline;
						//color: #ECF0F1;
						color: $color4;
						padding: 4px;
						//padding-right: 12px;
						//border-right: 2px solid $color4;
						text-decoration: none;
						vertical-align: middle;
						span{
							display: none;
						}
					}
					a.control{
						float: right;
						padding-top: 6px;
						border: 2px solid $color1;
					}
					
					span#status{
						display: inline-block;
						float: right;
						padding: 4px;
						margin-right: 6px;
					}
					span#label{
						display: inline-block;
						float: right;
						padding: 4px;
						margin-right: 6px;
					}
					nav{
						width: 100%;
						color: $color4;
						//border-bottom: 3px solid yellow;
					}
			    }
			    nav#buttons{
			    	width: 40%;
			    	//border-right: 4px solid $color4;
			    }
			    nav#img{
			    	width: 20%;
			    	//background-color: green;
			 		a{
			 			border: none;
			 		}
			    }
			    nav#controlbuttons{
			    	width: 40%;
			    	//clear: both;
			    }
			}
		}
		div#settingsdiv {
			display: none;
			margin-right: auto;
			margin-left: auto;
			margin-top: 5px;
			padding: 15px;
			padding-top: 35px;
			text-align: center;
			table{
				margin-right: auto;
				margin-left: auto;
				width: 800px;
				margin-bottom: 25px;
				tr td{
					width: 394px;
					padding: 2px;
					float: left;
					text-align: center;
					a{
						border: none;
						padding: 10px;
						padding-right: 12px;
						padding-left: 12px;
						i{
							visibility: hidden;
						}
					}
					a:hover{
						color: #1BBC9B;
						background-color: transparent;
						i{
							visibility: visible;
						}
					}
					a.color{
						border: 2px solid #22313F;
						border-radius: 100%;
					}
					a.selected{
						color: $color4;
						i{
							visibility: visible;
						}
					}
					a.thickness.selected{
						background-color: $color1;
						color: $color4;
					}
					a.black{
						background-color: $color1;
					}
					a.pomegranate{
						background-color: #F22613;
					}
					a.wistful{
						background-color: #AEA8D3;
					}
					a.eucalyptus{
						background-color: #26A65B;
					}
					a.ecstasy{
						background-color: #F9690E;
					}
					a.sandstorm{
						background-color:#F9BF3B;
					}
					a.thickness{
						padding: 3px;
						border: 2px solid $color1;
						i{
							border-right: 1px solid $color1;
						}
					}
				}
				tr td#curvesettings {
					border-right: 3px solid $color1;
				}
			}
		}
	}
	article{
		div#wrapper{
			width: 1200px;
			height: 450px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			canvas#graph{ 
				display: block;
				margin-right: auto;
				margin-left: auto;
				position: absolute;
				z-index: 0;
			}	
			canvas#toplayer{
				display: block;
				margin-right: auto;
				margin-left: auto;
				position: absolute;
				z-index: 1;	
			}
		}
	}
	footer{
		position: relative;
		display: inline-block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 5%px;
		padding-left: 5%px;
		background-color: $color1;
		color: $color4;
	}
	footer a{
		color: $color4;
		text-decoration: none;
	}
}
@font-face{
	font-family: Open-Light;
	src: url('/rintegral/OpenSans-Light.ttf');
}