/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background-color: #ececec;
  color: #1F3A93;
  font-family: sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 16, ../sass/screen.scss */
body a {
  cursor: pointer;
}
/* line 19, ../sass/screen.scss */
body header {
  background-color: #1F3A93;
  margin-bottom: 15px;
  padding: 5px;
}
/* line 24, ../sass/screen.scss */
body img {
  margin-bottom: 1px;
}
/* line 27, ../sass/screen.scss */
body div#parameters {
  margin-bottom: 6px;
  padding: 6px;
}
/* line 30, ../sass/screen.scss */
body div#parameters span.input {
  border: 2px solid #1F3A93;
  border-radius: 5px 0px 5px 0px;
  display: inline-block;
  padding: 0px;
  margin-right: 4px;
}
/* line 37, ../sass/screen.scss */
body div#parameters span.input label {
  padding: 3px;
  padding-right: 0px;
  padding-left: 8px;
}
/* line 41, ../sass/screen.scss */
body div#parameters span.input label span.equal {
  display: none;
}
/* line 45, ../sass/screen.scss */
body div#parameters span.input input {
  width: 0px;
  background-color: transparent;
  border: none;
  padding: 3.5px;
  padding-right: 1.5px;
  padding-left: 1.5px;
  color: #1F3A93;
  text-align: center;
  visibility: hidden;
}
/* line 56, ../sass/screen.scss */
body div#parameters span.input a#delete {
  color: #1F3A93;
  border-right: 2px solid #1F3A93;
  margin-left: 3px;
  padding: 3px;
  padding-right: 4px;
  margin-right: 0px;
}
/* line 66, ../sass/screen.scss */
body div#parameters span:hover input {
  visibility: visible;
  width: 50px;
}
/* line 71, ../sass/screen.scss */
body div#parameters span.selected {
  background-color: transparent;
  color: #3A539B;
}
/* line 74, ../sass/screen.scss */
body div#parameters span.selected label {
  background-color: #2574A9;
  color: white;
}
/* line 77, ../sass/screen.scss */
body div#parameters span.selected label span.equal {
  display: inline;
}
/* line 81, ../sass/screen.scss */
body div#parameters span.selected input {
  visibility: visible;
  color: #3A539B;
}
/* line 87, ../sass/screen.scss */
body div#parameters span.selected.input.function input {
  width: 110px;
}
/* line 92, ../sass/screen.scss */
body div#parameters span.selected.input.value input {
  width: 60px;
}
/* line 96, ../sass/screen.scss */
body div#parameters input#function {
  width: 200px;
}
/* line 99, ../sass/screen.scss */
body div#parameters a.control {
  display: inline;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #1F3A93;
  color: white;
  border: 2px solid #1F3A93;
  text-decoration: none;
  border-radius: 6px 0px 6px 0px;
  margin-left: 10px;
}
/* line 112, ../sass/screen.scss */
body nav#controlbar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  text-align: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 120, ../sass/screen.scss */
body nav#controlbar div#upperdiv {
  width: 100%;
  background-color: #1F3A93;
}
/* line 123, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  color: white;
}
/* line 131, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons i {
  color: #ECF0F1;
}
/* line 134, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a {
  display: inline-block;
  color: #ECF0F1;
  padding: 4px;
  padding-right: 10px;
  border-right: 2px solid #ececec;
  text-decoration: none;
}
/* line 141, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a span {
  display: none;
}
/* line 145, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#settings {
  float: right;
}
/* line 148, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#center {
  border-right: none;
}
/* line 151, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#settings {
  border-right: none;
}
/* line 154, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons span#status {
  display: inline-block;
  float: right;
  padding: 4px;
  margin-right: 6px;
}
/* line 160, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons span#label {
  display: inline-block;
  float: right;
  padding: 4px;
  margin-right: 6px;
}
/* line 168, ../sass/screen.scss */
body nav#controlbar div#settingsdiv {
  display: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  padding: 15px;
  padding-top: 35px;
  text-align: center;
}
/* line 176, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  margin-bottom: 25px;
}
/* line 181, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td {
  width: 394px;
  padding: 2px;
  float: left;
  text-align: center;
}
/* line 186, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a {
  border: none;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
}
/* line 191, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a i {
  visibility: hidden;
}
/* line 195, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a:hover {
  color: #1BBC9B;
  background-color: transparent;
}
/* line 198, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a:hover i {
  visibility: visible;
}
/* line 202, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.color {
  border: 2px solid #22313F;
  border-radius: 100%;
}
/* line 206, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.selected {
  color: #ececec;
}
/* line 208, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.selected i {
  visibility: visible;
}
/* line 212, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness.selected {
  background-color: #1F3A93;
  color: #ececec;
}
/* line 216, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.black {
  background-color: #1F3A93;
}
/* line 219, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.pomegranate {
  background-color: #F22613;
}
/* line 222, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.wistful {
  background-color: #AEA8D3;
}
/* line 225, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.eucalyptus {
  background-color: #26A65B;
}
/* line 228, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.ecstasy {
  background-color: #F9690E;
}
/* line 231, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.sandstorm {
  background-color: #F9BF3B;
}
/* line 234, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness {
  padding: 3px;
  border: 2px solid #1F3A93;
}
/* line 237, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness i {
  border-right: 1px solid #1F3A93;
}
/* line 242, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td#curvesettings {
  border-right: 3px solid #1F3A93;
}
/* line 249, ../sass/screen.scss */
body article div#wrapper {
  width: 1200px;
  height: 450px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* line 256, ../sass/screen.scss */
body article div#wrapper canvas#graph {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 0;
}
/* line 263, ../sass/screen.scss */
body article div#wrapper canvas#toplayer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 1;
}
/* line 272, ../sass/screen.scss */
body footer {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 5% px;
  padding-left: 5% px;
  background-color: #1F3A93;
  color: white;
}
/* line 286, ../sass/screen.scss */
body footer a {
  color: white;
  text-decoration: none;
}
