/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background-color: #ececec;
  color: #1F3A93;
  font-family: sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 16, ../sass/screen.scss */
body a {
  cursor: pointer;
}
/* line 19, ../sass/screen.scss */
body header {
  background-color: #1F3A93;
  margin-bottom: 15px;
  padding: 5px;
}
/* line 24, ../sass/screen.scss */
body img {
  margin-bottom: 1px;
}
/* line 27, ../sass/screen.scss */
body div#parameters {
  margin-bottom: 6px;
  padding: 6px;
}
/* line 30, ../sass/screen.scss */
body div#parameters span {
  border: 2px solid #1F3A93;
  border-radius: 5px 0px 5px 0px;
  display: inline-block;
  padding: 0px;
  padding-left: 8px;
  margin-right: 4px;
}
/* line 40, ../sass/screen.scss */
body div#parameters span input {
  width: 35px;
  background-color: transparent;
  border: none;
  padding: 3.5px;
  padding-right: 1.5px;
  padding-left: 1.5px;
  color: #1F3A93;
  text-align: center;
}
/* line 51, ../sass/screen.scss */
body div#parameters span:hover {
  border-color: #3A539B;
  color: #3A539B;
}
/* line 54, ../sass/screen.scss */
body div#parameters span:hover input {
  color: #3A539B;
}
/* line 58, ../sass/screen.scss */
body div#parameters input#function {
  width: 200px;
}
/* line 61, ../sass/screen.scss */
body div#parameters input#function2 {
  width: 150px;
}
/* line 64, ../sass/screen.scss */
body div#parameters a.control {
  display: inline;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #1F3A93;
  color: white;
  border: 2px solid #1F3A93;
  text-decoration: none;
}
/* line 74, ../sass/screen.scss */
body div#parameters a#plot {
  border-radius: 6px 0px 6px 0px;
  margin-left: 10px;
}
/* line 79, ../sass/screen.scss */
body nav#controlbar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  text-align: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 87, ../sass/screen.scss */
body nav#controlbar div#upperdiv {
  width: 100%;
  background-color: #1F3A93;
}
/* line 90, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  color: white;
}
/* line 98, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons i {
  color: #ECF0F1;
}
/* line 101, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a {
  display: inline-block;
  color: #ECF0F1;
  padding: 4px;
  padding-right: 10px;
  border-right: 2px solid #ececec;
  text-decoration: none;
}
/* line 108, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a span {
  display: none;
}
/* line 112, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#settings {
  float: right;
}
/* line 115, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#center {
  border-right: none;
}
/* line 118, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons a#settings {
  border-right: none;
}
/* line 121, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons span#status {
  display: inline-block;
  float: right;
  padding: 4px;
  margin-right: 6px;
}
/* line 127, ../sass/screen.scss */
body nav#controlbar div#upperdiv nav#buttons span#label {
  display: inline-block;
  float: right;
  padding: 4px;
  margin-right: 6px;
}
/* line 135, ../sass/screen.scss */
body nav#controlbar div#settingsdiv {
  display: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  padding: 15px;
  padding-top: 35px;
  text-align: center;
}
/* line 143, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  margin-bottom: 25px;
}
/* line 148, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td {
  width: 394px;
  padding: 2px;
  float: left;
  text-align: center;
}
/* line 153, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a {
  border: none;
  border-bottom: 6px solid #1F3A93;
  padding: 8px;
}
/* line 157, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a i {
  visibility: hidden;
}
/* line 161, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a:hover {
  color: #1F3A93;
  background-color: transparent;
}
/* line 164, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a:hover i {
  visibility: visible;
}
/* line 168, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.selected {
  color: #ececec;
}
/* line 170, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.selected i {
  visibility: visible;
}
/* line 174, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness.selected {
  background-color: #1F3A93;
  color: #ececec;
}
/* line 178, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.black {
  background-color: black;
}
/* line 181, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.pomegranate {
  background-color: #F22613;
}
/* line 184, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.wistful {
  background-color: #AEA8D3;
}
/* line 187, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.eucalyptus {
  background-color: #26A65B;
}
/* line 190, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.ecstasy {
  background-color: #F9690E;
}
/* line 193, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.sandstorm {
  background-color: #F9BF3B;
}
/* line 196, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness {
  padding: 3px;
  border: 2px solid #1F3A93;
}
/* line 199, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td a.thickness i {
  border-right: 1px solid #1F3A93;
}
/* line 204, ../sass/screen.scss */
body nav#controlbar div#settingsdiv table tr td#curvesettings {
  border-right: 3px solid #1F3A93;
}
/* line 211, ../sass/screen.scss */
body article div#wrapper {
  width: 1200px;
  height: 450px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* line 218, ../sass/screen.scss */
body article div#wrapper canvas#graph {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 0;
}
/* line 225, ../sass/screen.scss */
body article div#wrapper canvas#toplayer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 1;
}
/* line 234, ../sass/screen.scss */
body footer {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 5% px;
  padding-left: 5% px;
  background-color: #1F3A93;
  color: white;
}
/* line 248, ../sass/screen.scss */
body footer a {
  color: white;
  text-decoration: none;
}
